*, *::before, *::after {
    box-sizing: border-box;
  }
  body {
  margin: 0;
  line-height: 1.7;
  font-family: 'Lora', serif;
  color: black;
  }
  .navigation {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  div.brand-name {
    display: flex;
    justify-content: center;
    align-items: center;
    color: hwb(56 7% 7%);
    font-size: 60px;
    letter-spacing: 1px;
  }
  .navigation ul {
    margin: 0;
    padding:0;
    list-style-type: none;
  
  }
  .navigation ul li {
    display: inline-block;
    margin: 0 36px 0 0;
  }
  .navigation ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
    
  }
  .navigation ul li a:hover {
    font-size: 20px;
  }
  .splash {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .splash-inner {
    position: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
  }
  .page-title {
    font-size: 36px;
    color: #fff;
  }
   .page-subtitle {
    font-size: 90px;
    color: #fff;
    margin: 30px 0;
   } 
   
  
  .btn {
    display: inline-block;
    min-width: 180px;
    margin: 24px 0;
    padding: 20px 40px;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background-color: hwb(56 7% 7%);
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    align-self: center;
  }
  .container-bgc {
    background-image: url("https://i.postimg.cc/L54cqFQ5/pexels-mnz-1670770.jpg");
      background-size: cover;
      /* margin-top: 0;
      padding-top: 0; */
  }
  .container {
    margin: 0 auto;
    max-width: 1350px;
  }
  /*Services section*/ 
  
  .section-title {
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
  padding-top: 50px;
  }
  .section-title h1 {
    font-size: 50px;
    text-align: center;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
  }
  .wrap {
    text-align: center;
    flex: 0 0 27%;
  }
  .wrap i {
    padding: 30px;
    font-size: 60px;
    line-height: 60px;
    border: 3px solid hwb(56 7% 7%);
    border-radius: 50%;
    color: hwb(56 7% 7%) ;
  }
  .wrap h3 {
    font-size: 30px;
  }
  .wrap p {
    font-size: 18px;
  }
  .main-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
  }
  .wrap-six {
    flex: 0 0 31%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px 0;
  }
  .wrap-img {
    width: 100%;
    height: 400px;
  }
  .wrap-content {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
  .wrap-img img {
    width:  100%;
    height: 100%;
    object-fit: cover;
  }
  .wrap-content h4 {
    font-size: 22px;
    margin: 0;
  }
  .wrap-content p {
    font-size: 18px;
    margin: 0;
  }
  .color {
    background-color: rgb(212, 209, 209);
  }
  .right {
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }
  /*# sourceMappingURL=style.css.map */
  .logo ul {
    display: flex;
   list-style-type: none;
   justify-content: center;
   margin: 0 auto;
   padding: 0;
  }
  .logo ul li {
    margin:  0 18px 0 18px;
    text-align: center;
  }
  .logo ul li a {
    font-size: 26px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 60%;
    background-color: black;
    /* line-height: 26px; */
    color: #fff;
  }
  footer {
    position: relative;
    padding: 30px 0;
  }
  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @media (max-width: 767px) {
    div.brand-name {
      font-size: 30px;
    }
    .navigation ul li a {
      font-size: 10px;
    }
    .navigation ul {
      text-align: right;
    }
    .navigation {
      padding: 15px 15px;
    }
    .page-title {
      font-size: 20px;
    }
    .page-subtitle {
      font-size: 36px;
    }
    .btn {
      font-size: 12px;
      padding: 10px 10px;
      min-width: 120px
    }
    .section-title {
      font-size: 12px;
      margin-bottom: 20px;
      padding-bottom: 20px;
    }
    .section-title h1 {
      font-size: 30px ;
    }
    .wrapper {
      flex-direction: column;
      margin: 70px 0;
    }
    .wrap {
      margin-bottom: 50px;
    }
    .wrap i {
      padding: 20px;
      font-size: 36px;
      line-height: 36px;
      border: 3px solid hwb(56 7% 7%);
      border-radius: 50%;
      color: hwb(56 7% 7%) ;
    }
    .wrap h3 {
      font-size: 24px;
    }
    .wrap p {
      font-size: 14px;
      margin: 14px 14px;
    }
    .main-wrap {
      flex-direction: column;
    } .wrap-six {
      margin: 0;
      padding: 0;
    }
    .logo ul li a {
      font-size: 16px;
      padding: 10px;
      border: 1px solid black;
      border-radius: 60%;
      background-color: black;
     line-height: 16px;
      color: #fff;
     
  }
  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 70%;
    margin-bottom: 5px;
  }
  footer {
    position: relative;
    padding: 80px 0;
    height: 120px;
    background-color:rgb(212, 209, 209) ;
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50%;
    width: 80%;
  }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .navigation {
      padding: 15px 15px;
    }
    .wrapper {
      padding: 0 20px;
    }
    .section-title {
      font-size: 16px;
    }
    .logo {
      position: absolute;
      top: 50%;
      left: 70%;
      transform: translate(-50%, -70%);
  }
  .right {
    padding-left: 15px;
  }
  .main-wrap {
    padding: 0 15px;
  }
  }